<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ constants.siteName }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ constants.siteDescription }}">
    <meta name="author" content="{{ author.name }}">
    <link rel="shortcut icon" href="{{ constants.siteIcon }}">

</head>

<body>
    <div class="header">
        <div class="subheader" style="text-align: center;">
            <div class="avatar-container">
                <a href="{{author.url}}">
                    <img src="{{author.icon}}" class="avatar avatar-big" alt="{{author.name}}" />
                </a>
            </div>
            <a href="{{author.url}}">{{author.name}}</a>
        </div>
        <div class="siteInfo">
            <p>{{constants.siteDescription}}</p>
        </div>
    </div>
    <h1>Recent Posts</h1>
    {% for post in posts|sort(attribute="createdAt") %}
    <a href="{{post.url}}" style="text-decoration: none;">
        <h2 class="post-title">{{post.title}}</h2>
    </a>
    <p class="post-description">{{post.description}}</p>
    <p class="post-date subdued">{{post.createdAt}}</p>
    {% endfor %}
</body>

</html>