<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - {{ constants.siteName }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ post.description }}">
    <meta name="author" content="{{ author.name }}">
    <link rel="shortcut icon" href="{{ constants.siteIcon }}">
</head>

<body>
    <div class="header">
        <h1>{{ post.title }}</h1>
        <div class="subheader">
            <a href="{{author.url}}"><img src="{{author.icon}}" class="avatar" alt="{{author.name}}" /></a>
            <a href="{{author.url}}">{{author.name}}</a>
            <p class="subdued">/ {{post.createdAt}}</p>
        </div>
        <article>
            {{ utils.markdown(post.content) }}
        </article>
        <div class="footer">
            <a href="/">Back to home</a>
        </div>
    </div>
</body>

</html>